<div class="row raiting">
    <div class="like_dislike">
        <button type="button" class="btn btn-default btn-sm {{ getLikeCssClass(object) }}" onclick="window.location.href='{{ path('_symbb_post_rating_like', {'name': object.getSeoName() , 'id': object.getId() , 'like': 'like'}) }}'">
            <div class="glyphicon glyphicon-thumbs-down"></div>
            {{ getSymbbLikeCount(object) }}
        </button>
            <button type="button" class="btn btn-default btn-sm {{ getDislikeCssClass(object) }}" onclick="window.location.href='{{ path('_symbb_post_rating_like', {'name': object.getSeoName() , 'id': object.getId() , 'like': 'dislike'}) }}'">
            <div class="glyphicon glyphicon-thumbs-up"></div>
            {{ getSymbbDislikeCount(object) }}
        </button>
    </div>
</div>