{% trans_default_domain "symbb_frontend" %}

{% extends getSymbbTemplateConfig('forum') ~ ':Topic:show.html.twig' %}

{% form_theme form 'SymBBTemplateSimpleBundle::form.html.twig' %}

{% block stylesheets %} 
    {{ parent() }}
    {{ executeSymbbTemplateEvent('layout.editor.stylesheets') }}
{% endblock %}
    
{% block javascripts %} 
    {{ parent() }}
    {{ executeSymbbTemplateEvent('layout.editor.javascripts') }}
{% endblock %}

{% block symbb_body %}

{% if saved %}
<div class="alert alert-success">
    {% trans %}Your post has been saved successfully. You will now be redirected ...{% endtrans %}
    <script type="text/javascript">
    <!--
    window.location = "{{ path('_symbb_forum_topic_show', {'name': topic.getSeoName(), 'id': topic.getId()} ) }}";
    //–>
    </script>
</div>
{% endif %}
<div id="symbb_bottom"></div>
<div class="symbb_topic ">

    {{ form_start(form) }}

        {{ form_errors(form) }}
        <div class="name ">
            {{ form_row(form.forum) }}
            {{ form_row(form.name) }}
        </div>
        {{ form_widget(form.mainPost.children.text) }}
    
        <div class="m-top-1"></div>
    
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'Options'|trans }}</div>
            <div class="panel-body">
              {{ form_rest(form.locked) }}
            </div>
        </div>
    
        <button class="btn btn-default" type="submit">{{ 'Save'|trans }}</button>
        
    {{ form_end(form) }}
</div>


{% endblock %}