{% trans_default_domain "symbb_frontend" %}

{% extends getSymbbTemplateConfig('forum') ~ ':Topic:show.html.twig' %}

{% block stylesheets %} 
    {{ parent() }}
    {{ executeSymbbTemplateEvent('layout.editor.stylesheets') }}
{% endblock %}
    
{% block javascripts %} 
    {{ parent() }}
    {{ executeSymbbTemplateEvent('layout.editor.javascripts') }}
{% endblock %}

{% block symbb_body %}

{% if saved %}
<div class="alert alert-success">
    {% trans %}Your post has been saved successfully. You will now be redirected ...{% endtrans %}
    <script type="text/javascript">
    <!--
    window.location = "{{ path('_symbb_forum_topic_show', {'name': topic.getSeoName(), 'id': topic.getId()} ) }}";
    //–>
    </script>
</div>
{% endif %}

<div id="symbb_bbcode_editor" class="symbb_editor bbcode">
    <div class="preview">

    </div> 
    <div class="bbcode_list symbb_topic ">

        <div class="row symbb_header_bg subheader">
            <div class="col-md-12">{% trans %}new Topic{% endtrans %}</div>
        </div>
        <div class="row body">
            <div class="col-md-3 userblock">

            </div>
            <div class="col-md-9 textblock">
                {{ form_start(form) }}
                    
                    {{ form_errors(form) }}
                    
                    {{ form_row(form.name) }}
                    
                    {{ form_widget(form.text) }}
                    
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}