{% trans_default_domain "symbb_frontend" %}

{% extends getSymbbTemplateConfig('forum') ~ ':Forum:layout.html.twig' %}

{% block stylesheets %} 
    {{ parent() }}
    {% stylesheets 
        '@SymBBTemplateSimpleBundle/Resources/public/css/topic.css' filter='?yui_css'
        '@SymBBTemplateSimpleBundle/Resources/public/css/bbeditor.css' filter='?yui_css'
     %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
    
{% block javascripts %} 
    {{ parent() }}
    {% javascripts 
        '@SymBBCoreForumBundle/Resources/public/js/bbcodeeditor.js' filter='?yui_js'
        '@SymBBCoreForumBundle/Resources/public/js/quote.js' filter='?yui_js'
     %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block symbb_breadcrumb %}
    {{ getSymbbBreadcrumb(topic) }}
{% endblock %}

{% block symbb_body %}

    {{ knp_pagination_render(pagination) }}
    
    <div class="symbb_topic">
        {{ symbBBForumTopicMacro.showPostList(topic, pagination) }}
    </div>
    
    {{ knp_pagination_render(pagination) }}
    
    {% if hasSymbbAccess('write', topic.getForum()) %}
    
        {% include getSymbbTemplateConfig('forum') ~ ':Post:new.html.twig' with {'form': form, 'bbcodes': bbcodes, 'topic': topic, 'saved': false} %}

    {% endif %}
    
{% endblock %}

