{% trans_default_domain "symbb_frontend" %}

{% macro showPostList(object, pagination) %}

    {% for post in pagination %}
        <div class="row symbb_header_bg {% if loop.first %} header {% else %} subheader {% endif %}">
            <div class="col-md-12">{{post.getName()}}
                <div class="f-right">
                    <div class="btn-group btn-group-xs">
                       <button type="button" class="btn btn-default quote" data-user="{{post.getAuthor().getUsername()}}" data-quote="{{post.getText()}}" >{% trans %}Quote{% endtrans %}</button>
                        {% if hasSymbbAccess('EDIT', post) %}
                        <button type="button" class="btn btn-default btn-primary" onclick="window.location.href='{{ path('_symbb_edit_post', {'name': post.getTopic().getSeoName(), 'topic': post.getTopic().getId(), 'post': post.getId()}) }}'">{% trans %}Edit{% endtrans %}</button>
                        {% endif %}
                        {% if hasSymbbAccess('DELETE', post) %}
                        <button type="button" class="btn btn-default btn-danger" onclick="if (confirm('{% trans %}you really want to delete the entry?{% endtrans %}')) { window.location.href='{{ path('_symbb_delete_post', {'post': post.getId()}) }}' };" >{% trans %}Delete{% endtrans %}</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row body">
            <div class="userblock">
                {{ executeSymbbPostEvent('before.avatar', post) }}
                <div class="avatar">
                    <img src="{{getSymbbUserAvatar(post.getAuthor())}}" />
                </div>
                {{ executeSymbbPostEvent('after.avatar', post) }}
                {{ executeSymbbPostEvent('before.username', post) }}
                <div class="username">
                    {{post.getAuthor().getUsername()}}
                </div>
                {{ executeSymbbPostEvent('after.username', post) }}
                {{ executeSymbbPostEvent('before.userdata', post) }}
                <div class="userdata">
                    <div class="text">{% trans %}posts{% endtrans %}:</div>
                    <div class="data">{{post.getAuthor().getPosts().count()}}</div>
                    <div class="clear"></div>
                    <div class="text">{% trans %}Join Date{% endtrans %}:</div>
                    <div class="data">{{post.getAuthor().getCreated()|format_date}}</div>
                    <div class="clear"></div>
                </div>
                {{ executeSymbbPostEvent('after.userdata', post) }}
            </div>
            <div class="textblock">
                <div class="date">
                    {% trans with {'%user%': post.getAuthor().getUsername(), '%date%': post.getChanged()|format_date, '%time%': post.getChanged()|date('H:i')} %}%user% wrote on %date% at %time%{% endtrans %}
                </div>
                {{ executeSymbbPostEvent('before.text', post) }}
                <div class="text" id="symbb_post_body_{{post.getId()}}">
                {{post.getText()|bbcode_filter('default')}}
                </div>
                {{ executeSymbbPostEvent('after.text', post) }}
                {{ executeSymbbPostEvent('before.signature', post) }}
                {{ _self.showSignature(post) }}
                {{ executeSymbbPostEvent('after.signature', post) }}
            </div>
        </div>
    {% endfor %}

{% endmacro %}

{% macro showSignature(object) %}
{% if getSymbbUserData(object.getAuthor()).hasSignature() %}
    <div class="row signature">
        {{getSymbbUserSignature(object.getAuthor())|bbcode_filter('signature')}}
    </div>
{% endif %}
{% endmacro %}