<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        {% block stylesheets %} 
            {% stylesheets 
                '@SymBBTemplateAcpBundle/Resources/public/css/main.css' filter='?yui_css'
                '@SymBBTemplateAcpBundle/Resources/public/css/navi.css' filter='?yui_css'
             %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        
        {% block javascripts %}
            {% javascripts 
                '@SymBBTemplateAcpBundle/Resources/public/js/libs/mootools/mootools1.4.5.js'  filter='?yui_js'
                '@SymBBTemplateAcpBundle/Resources/public/js/libs/mootools/mootools-more-1.4.0.1.js'  filter='?yui_js'
                '@SymBBTemplateAcpBundle/Resources/public/js/main.js'  filter='?yui_js'
             %}
             <script type="text/javascript" src="{{ asset_url }}" ></script>
            {% endjavascripts %}
        {% endblock %}
        
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        
    </head>
    <body>
        <div id="nav">
            <div class="left">
                <ul>
                    <li>{{ 'Hallo %name%'|trans({'%name%': 'ReplaceMe'}, "menu") }}</li>
                </ul>
            </div>
            <div class="right">
                {{ knp_menu_render('SymBBCoreAdminBundle:Builder:mainMenu') }}
            </div>
            <div class="clear"></div>
        </div>
        <div id="listContainer"></div> 
    </body>
</html>
