{% trans_default_domain "symbb_frontend" %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Language" content="{{ app.request.locale }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    
    {% block stylesheets %} 
        {% stylesheets 
            '@SymBBTemplateSimpleBundle/Resources/public/css/theme.css' filter='?yui_css'
            '@SymBBTemplateSimpleBundle/Resources/public/css/form.css' filter='?yui_css'
            '@SymBBTemplateSimpleBundle/Resources/public/css/breadcrumb.css' filter='?yui_css'
         %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    {% endblock %}
        
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        
    {% block javascripts %} 
        
    {% endblock %}
    </head>

    <body>
        
        <div class="symbb_user_panel">
            <div class="content">
            {% block symbb_userinfob %}
                {% if app.user.getSymbbType() == 'user' %}
                <div class="avatar avatar_mini">
                    <img src="{{getSymbbUserAvatar(app.user)}}" />
                </div>
                {% endif %}
                <div class="username">{{app.user.getUsername()}}</div>
                {% if app.user.getSymbbType == 'user' %}
                <div class="usermenu">
                    <button onclick="window.location.href='{{ path('symbb_user_options') }}'" type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-cog"></span> {{ 'Options'|trans }}
                    </button>
                    <button type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-comment"></span> {{ 'Messages'|trans }}
                    </button>
                </div>
                {% endif %}
                <div class="f-right usermenu">
                    <button onclick="window.location.href='{{ path('_symbb_index') }}'" type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-list-alt"></span> {{ 'Portal'|trans }}
                    </button>
                    <button onclick="window.location.href='{{ path('symbb_forum_index') }}'" type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-list-alt"></span> {{ 'Forum'|trans }}
                    </button>
                    {% if is_granted('ROLE_ADMIN') %}
                    <button onclick="window.location.href='{{ path('_symbb_acp') }}'" type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-list-alt"></span> {{ 'Adminpanel'|trans }}
                    </button>
                    {% endif %}
                        
                    {% if app.user.getSymbbType == 'guest' %}
                    <button onclick="window.location.href='{{ path('symbb_login') }}'" type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-off"></span> {{ 'Sign in'|trans }}
                    </button>
                    <button onclick="window.location.href='{{ path('symbb_register') }}'" type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-plus-sign"></span> {{ 'Sign up'|trans }}
                    </button>
                    {% else %}
                    <button onclick="window.location.href='{{ path('symbb_logout') }}'" type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-off"></span> {{ 'Logout'|trans }}
                    </button>
                    {% endif %}
                </div>
            {% endblock %}
                <div class="clear"></div>
            </div>
        </div>
        {% block symbb_breadcrumb %}
        {% endblock %}
        <div class="symbb_container">
        
            <div class="symbb_navi">
                {% block symbb_navi %} 
                {% endblock %}
            </div>
            
            <div class="clear"></div>

            <div class="symbb_actions">
                
            {% if app.getUser.getSymbbType() == 'guest' %}
                <div class="alert alert-info">{% trans %}You are not currently logged.{% endtrans %}</div>
            {% endif %}
                
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
                
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}
                
            {% block symbb_actions %}
                   
            {% endblock %}
            </div>
            
            <div class="clear"></div>
            
            {% block symbb_body_container %}
            <div class="row">
                <div class="symbb_body col-md-12">
                    {% block symbb_body %}

                    {% endblock %}
                    <div class="clear"></div>
                </div>
            </div>
            {% endblock %}
        </div>
    </body>
</html>