{% trans_default_domain "symbb_frontend" %}

<div class="symbb_tabcontent" data-tab="survey">
    <div class="panel panel-default">
        <div class="padding10">
        {{ form_rowbootstrap(form.mainPost.surveyQuestion) }}
        {{ form_rowbootstrap(form.mainPost.surveyAnswers) }}
        {{ form_rowbootstrap(form.mainPost.surveyChoices) }}
        {{ form_rowbootstrap(form.mainPost.surveyChoicesChangeable) }}
        {{ form_rowbootstrap(form.mainPost.surveyEnd) }}
        </div>
    </div>
</div>