{% extends getSymbbTemplateConfig('acp') ~ ':Acp/Forum:list.html.twig' %}

{% trans_default_domain "symbb_backend" %}

{% form_theme form getSymbbTemplateConfig('acp') ~ '::form.html.twig' %}

{% block symbb_body %}
{{ form_startbootstrap(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ 'Eintrag speichern'|trans }}
        </div>
        <div class="panel-body">
        {{ form_row(form._token) }}
        {{ form_restbootstrap(form) }}
        <input type="hidden" name="id" value="{{ entity.getId() }}" />
        </div>
        <div class="panel-footer">
            <button onclick="submit();" type="button" class="btn btn-info">{{ 'save'|trans({}) }}</button>
            <div class="clear"></div>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}