{% extends getSymbbTemplateConfig('acp') ~ ':Acp:layout.html.twig' %}

{% trans_default_domain "symbb_backend" %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.addEvent('domready', function() {
            var sortableList = new Sortables('.sortable_table', {
                constrain: true,
                clone: false,
                revert: true,
                handle: '.mover',
                onComplete: function(element){
                    SymBBUtil.saveSortable(sortableList, '{{ path('_symbbcoreforumbundle_forum_sort') }}');
                }
            });
        });
    </script>
{% endblock %}

{% block subnavi %}
    {{ knp_menu_render('SymBBCoreForumBundle:Builder:subMenu') }}
{% endblock %}
    
{% block symbb_breadcrumb_content %}
    {% if breadcrum %}
        {{ breadcrum|raw }}
    {% endif %}
{% endblock %}

{% block symbb_body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <button onclick="window.location.href='{{path('_symbbcoreforumbundle_forum_new')}}';" type="button" class="btn btn-info">{{ 'new'|trans({}) }}</button>
        </div>
        <table class="table">
            <colgroup>
                <col style="width: 26px;" />
                <col style="width: auto;" />
                <col style="width: 100px;" />
                <col style="width: 100px;" />
            </colgroup>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>{{ 'Forum'|trans }}</th>
                    <th>{{ 'Type'|trans }}</th>
                    <th>{{ 'Actions'|trans }}</th>
                </tr>
            </thead>
            <tbody class="sortable_table">
                {% for entry in entityList %}
                    <tr id="entry_{{entry.getId()}}">
                        <th class="mover">&nbsp;</th>
                        <td class="clickable" onclick="window.location.href='{{ path('_symbbcoreforumbundle_forum_list_child', {parent: entry.getId()}) }}';">{{entry.getName()}}</td>
                        <td>{{helper.type.format(entry.getType())}}</td>
                        <td>
                            <a href="{{ path('_symbbcoreforumbundle_forum_edit', {id: entry.getId()}) }}"><img class="clickable" src="/bundles/symbbtemplatesimple/images/icons/16_16/pencil.png" alt="{{ 'Editieren'|trans }}" title="{{ 'Editieren'|trans }}" /> </a>
                            <a onclick="confirm('{{ 'Eintrag wirklich löschen?'|trans }}')" href="{{ path('_symbbcoreforumbundle_forum_remove', {id: entry.getId()}) }}"><img class="clickable" src="/bundles/symbbtemplatesimple/images/icons/16_16/cross.png" alt="{{ 'Löschen'|trans }}" title="{{ 'Löschen'|trans }}" /> </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}