{% extends 'FOSMessageBundle::layout.html.twig' %}

{% form_theme form getSymbbTemplateConfig('acp') ~ '::form.html.twig' %}

{% block fos_message_content %}

<div class="panel panel-primary">
  <div class="panel-heading">{{ thread.subject }}</div>
  <div class="panel-body">
    {% for message in thread.messages %}
        <div class="messenger_thread_message">
            <div class="messenger_thread_message_info">
                {% trans with {'%sender%': message.sender|e, '%date%': message.createdAt|date} from 'symbb_frontend' %}message_info{% endtrans %}
            </div>

            <div class="messenger_thread_message_body" id="message_{{ message.id }}">
                {{ message.body }}
            </div>
        </div>
    {% endfor %}
          <br/>
    <div class="panel panel-info">
    <div class="panel-heading">{% trans from 'symbb_frontend' %}reply{% endtrans %}</div>
    <div class="panel-body">
        <form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post" role="form" class="form-horizontal">
            
            {{ form_row(form._token) }}
            {{ form_restbootstrap(form) }}

            <button type="submit" class="btn btn-success">{% trans from 'symbb_frontend' %}send{% endtrans %}</button>
        </form>
    </div>
  </div>
</div>
</div>

{% endblock %}