{% trans_default_domain "symbb_frontend" %}

<div class="symbb_tabcontent" data-tab="survey">
    <div class="panel panel-default">
        <table class="table">
        {{ form_rowtable(form.surveyQuestion) }}
        {{ form_rowtable(form.surveyAnswers) }}
        {{ form_rowtable(form.surveyChoices) }}
        {{ form_rowtable(form.surveyChoiceChanges) }}
        {{ form_rowtable(form.surveyEnd) }}
        </table>
    </div>
</div>