{% trans_default_domain "symbb_backend" %}

{% extends getSymbbTemplateConfig('acp') ~ ':Acp:Layout/access.html.twig' %}

{% form_theme form getSymbbTemplateConfig('acp') ~ '::form.html.twig' %}

{% block symbb_body %}

    {{ form_startbootstrap(form) }}
    {{ form_row(form._token) }}

    <div class="panel panel-info">
        <div class="panel-heading">
            {{ 'Step 1: Select a group'|trans }}
        </div>
        {{ form_rowbootstrap(form.group) }}
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            {{ 'Step 2: Select a forum'|trans }}
        </div>
        {{ form_rowbootstrap(form.forum) }}
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            {{ 'Step 3: Include Sub-forums ?'|trans }}
        </div>
        {{ form_rowbootstrap(form.subforum) }}
    </div>

    {{ form_row(form.next) }}
    {{ form_row(form.back) }}


    {{ form_end(form) }}
{% endblock %}