{% trans_default_domain "symbb_frontend" %}

{% form_theme form 'SymBBTemplateSimpleBundle::form.html.twig' %}

{% if saved %}
<div class="alert alert-success">
    {% trans %}Your post has been saved successfully. You will now be redirected ...{% endtrans %}
    <script type="text/javascript">
    <!--
    window.location = "{{ path('_symbb_forum_topic_show', {'name': post.getTopic.getSeoName(), 'id': post.getTopic.getId()} ) }}?page=last#symbb_bottom";
    //–>
    </script>
</div>
{% endif %}
<div id="symbb_bottom"></div>

<div id="symbb_bbcode_editor" class="symbb_editor bbcode">
    <div class="bbcode_list symbb_topic ">

        {{ form_start(form) }}

            {{ form_errors(form) }}

            <div class="text_input">
                {{ form_widget(form.text) }}
            </div>
        {{ form_end(form) }}
    </div>
</div>