{% trans_default_domain "symbb_frontend" %}

{% form_theme form 'SymBBTemplateSimpleBundle::form.html.twig' %}

{% if saved %}
<div class="alert alert-success">
    {% trans %}Your post has been saved successfully. You will now be redirected ...{% endtrans %}
    <script type="text/javascript">
    <!--
    window.location = "{{ path('_symbb_forum_topic_show', {'name': post.getTopic.getSeoName(), 'id': post.getTopic.getId()} ) }}";
    //–>
    </script>
</div>
{% endif %}

<div id="symbb_bbcode_editor" class="symbb_editor bbcode">
    <div class="preview">

    </div> 
    <div class="bbcode_list symbb_topic ">

        <div class="row symbb_header_bg subheader">
            <div class="col-md-12">{% trans %}new Post{% endtrans %}</div>
        </div>
        <div class="row body">
            <div class="col-md-3 userblock">

            </div>
            <div class="col-md-9 textblock">
                {{ form_start(form) }}
                    
                    {% for key, groups in bbcodes %}

                    <div class="btn-group">
                        <button type="button" class="btn btn-info btn-sm">{{ key }}</button>
                        {% for bbcode in groups %}
                        <button type="button" data-tag="{{ bbcode.tag }}" class="btn btn-default btn-sm symbb_bbcode_code">{{ bbcode.name }}</button>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    
                    {{ form_errors(form) }}
                    
                    <div class="text_input">
                        {{ form_widget(form.text) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>