{% trans_default_domain "symbb_frontend" %}

{% extends getSymbbTemplateConfig('forum') ~ '::layoutWithSidebar.html.twig' %}

{% form_theme form getSymbbTemplateConfig('forum') ~ '::form.html.twig' %}

{% block stylesheets %} 
    {{ parent() }}
    {{ executeSymbbEvent('user.template.stylesheets') }}
{% endblock %}
    
{% block javascripts %} 
    {{ parent() }}
    {{ executeSymbbEvent('user.template.stylesheets') }}
{% endblock %}

{% block symbb_sidebar %}
    
    {% include getSymbbTemplateConfig('forum') ~ ':User:sidebar.html.twig' %}
    
{% endblock %}    
    


{% block symbb_body %}
    
<div class="panel panel-primary">
    <div class="panel-heading">{{ 'Security'|trans }}</div>
    <div class="panel-body">
      {{ form_startbootstrap(form) }}
        {{ form_row(form._token) }}
        {{ form_rowbootstrap(form.password) }}
        {{ form_row(form.save) }}
      {{ form_end(form) }}
    </div>
</div>
    
{% endblock %}    