{% trans_default_domain "symbb_frontend" %}

<!--

Macro to generate the row of a forum

-->

{% macro forumRow(object) %}
<div class="row forum"> 
        <div class="col-md-6 nameBlock">{{_self.nameRow(object, true, true)}}</div>
        <div class="col-md-1 topicCountBlock">{{object.getTopicCount()}}</div>
        <div class="col-md-1 postCountBlock">{{object.getPostCount()}}</div>
        <div class="col-md-4 lastPostBlock">{{_self.lastPostRow(object)}}</div>
    </div>
{% endmacro %}
    

<!--

Macro to generate the row of a category

-->

{% macro categoryRow(object) %}
    <div class="row category symbb_header_bg">
        <div class="col-md-6 nameBlock">{{_self.nameRow(object)}}</div>
        <div class="col-md-1 topicCountBlock">{% trans %}Topics{% endtrans %}</div>
        <div class="col-md-1 postCountBlock">{% trans %}Posts{% endtrans %}</div>
        <div class="col-md-4 lastPostBlock">{% trans %}Last post{% endtrans %}</div>
    </div>
    {{_self.showForumList(object.getChildren(), 0, 1)}}
{% endmacro %}


<!--

Macro to generate the row of a sub category of a category/forum

-->

{% macro subCategoryRow(object) %}
<div class="row subcategory">
    <div class="col-md-12 nameBlock">{{_self.nameRow(object)}}</div>
</div>
{% endmacro %}

<!--

Macro to generate the row of a Forum with the Type Link

-->

{% macro linkRow(object) %}
    
{% endmacro %}

<!--

Macro to generate the structure of the forum/Category name Row

-->

{% macro nameRow(object, showIcon, showLabels) %}
<a href="{{ path('_symbb_forum_show', {'id': object.getId(), 'name': object.getSeoName()}) }}">
    {% if showIcon %}
    <i class="f-left glyphicon glyphicon-list"></i>
    {% endif %}
    <div class="name">
        {{object.getName()}}
    </div>
    {% if showLabels %}
        <div class="labels">
        {% if checkSymbbForNewPostFlag(object) %}
            <span class="label label-success">{% trans %}new{% endtrans %}</span>
        {% endif %}
        </div>
    {% endif %}
    <div class="clear"></div>
    {% if object.hasShowSubForumList() %}
        <div class="subForumList">
            {% if object.getChildren()|length > 0 %}
            {% trans %}subforums{% endtrans %}: 
            {% endif %}
            {% for subobject in object.getChildren() if subobject.isActive() %}
                <a href="{{ path('_symbb_forum_show', {'id': subobject.getId(), 'name': subobject.getSeoName()}) }}">
                {{subobject.getName()}}
                </a>
                {% if loop.index <  object.getChildren()|length %}, {% endif %}
            {% endfor %}
        </div>
        <div class="clear"></div>
    {% endif %}
    <div class="description">{{object.getDescription()}}</div>
</a>

{% endmacro %}

<!--

Macro to generate the structure of the lastPost Row

-->

{% macro lastPostRow(object) %} 
<div class="lastPostBlock">
    {% if object.getLastPost() %}
        <a href="{{ path('_symbb_forum_topic_show', {'id': object.getLastPost().getTopic().getId(), 'name': object.getLastPost().getTopic().getSeoName()}) }}?page=last#{{object.getLastPost().getSeoName()}}-{{object.getLastPost().getId()}}">
            <div class="name">{{object.getLastPost().getName()}}</div>
            <div class="user">{% trans with {'%user%': object.getLastPost().getAuthor().getUsername(), '%date%': object.getLastPost().getChanged()|format_date, '%time%': object.getLastPost().getChanged()|date('H:i')} %}by %user% on %date% at %time%{% endtrans %}</div>
        </a>
    {% else %}
        {% trans %}no topics{% endtrans %}
    {% endif %}
    </div>
{% endmacro %}


<!--

Macro to generate a list of all topics

-->

{% macro showTopicList(topicPagination, forum) %}

    {{ _self.showEmptyTopicHeader() }}
    
    {% for topic in topicPagination %}

    <div class="row topic">
        <div class="col-md-7 nameBlock">
            <a href="{{ path('_symbb_forum_topic_show', {'id': topic.getId(), 'name': topic.getSeoName()}) }}">
                <div class="name">{{topic.getName()}}</div>
                <div class="labels">
                {% if app.user and app.user.getId() == topic.getAuthor().getId() %}
                    <span class="label label-default">{% trans %}author{% endtrans %}</span>
                {% endif %}
                {% if checkSymbbForAnsweredPostFlag(topic) %}
                    <span class="label label-info">{% trans %}answered{% endtrans %}</span>
                {% endif %}
                {% if checkSymbbForNewPostFlag(topic) %}
                    <span class="label label-success">{% trans %}new{% endtrans %}</span>
                {% endif %}
                {% if topic.isLocked() %}
                    <span class="label label-warning">{% trans %}locked{% endtrans %}</span>
                {% endif %}
                 {{ executeSymbbTemplateTopicEvent('topiclist.label', topic) }}
                </div>
                <div class="clear"></div>
                <div class="user">{% trans with {'%user%': topic.getAuthor().getUsername(), '%date%': topic.getCreated().format('D d.M Y'), '%time%': topic.getCreated().format('H:i')} %}by %user% on %date% at %time%{% endtrans %}</div>
            </a>
        </div>
        <div class="col-md-1 topicCountBlock">{{topic.getPostCount()}}</div>
        <div class="col-md-4">
            {% if topic.getPostCount() %}
                {{_self.lastPostRow(topic)}}
            {% endif %}
        </div>
    </div>

    {% endfor %}

    {{ knp_pagination_render(topicPagination) }}

{% endmacro %}

<!--

Macro to generate a List of Categories and Forums

-->

{% macro showForumList(objects, forumTitle, sub) %}

    {% for object in objects if object.isActive() %}
        {% if loop.first %}
            {% if object.getType() == 'category' %}
                {% set forumTitle = 0 %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% for object in objects if object.isActive() %}

        {% if forumTitle %}
            {{ _self.showEmptyForumHeader() }}
            {% set forumTitle = 0 %}
        {% endif %}

        {% if object.getType() == 'category' %}
            {% if sub %}
                {{ _self.subCategoryRow(object) }}
            {% else %}
                {{ _self.categoryRow(object) }}
            {% endif %}
            {% set forumTitle = 1 %}
        {% elseif object.getType() == 'link' %}
            {{ _self.linkRow(object) }}
        {% else %}
            {{ _self.forumRow(object) }}
        {% endif %}

    {% else %}
        {% if sub %}
            {% if forumTitle %}
                {{ _self.showEmptyForumHeader() }}
            {% endif %}
            <div class="row forum">
                <div class="col-md-12">{% trans %}No Forum found{% endtrans %}</div>
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}

<!--

Macro to generate a Header for a Forum block

-->

{% macro showEmptyForumHeader() %}
<div class="row category symbb_header_bg">
    <div class="col-md-6 nameBlock">{% trans %}Forums{% endtrans %}</div>
    <div class="col-md-1 topicCountBlock">{% trans %}Topics{% endtrans %}</div>
    <div class="col-md-1 postCountBlock">{% trans %}Posts{% endtrans %}</div>
    <div class="col-md-4 lastPostBlock">{% trans %}Last post{% endtrans %}</div>
</div>
{% endmacro %}

<!--

Macro to generate a Header for a Topic block

-->

{% macro showEmptyTopicHeader() %}
<div class="row category symbb_header_bg">
    <div class="col-md-7 nameBlock">
        {% trans %}Topics{% endtrans %}
    </div>
    <div class="col-md-1 topicCountBlock">{% trans %}Answers{% endtrans %}</div>
    <div class="col-md-4 lastPostBlock">{% trans %}Last post{% endtrans %}</div>
</div>
{% endmacro %}


