{% trans_default_domain "symbb_frontend" %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SymBB</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('_symbb_index') }}">{% trans %}Portal{% endtrans %}</a></li>
                <li><a href="{{ path('_symbb_forum_index') }}">{% trans %}Forum{% endtrans %}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Search{% endtrans %} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('_symbb_forum_newest') }}">{% trans %}Newest Posts{% endtrans %}</a></li>
                        <li class="divider"></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user.getSymbbType == 'guest' %}
                <li><a href="{{ path('fos_user_security_login') }}">{% trans %}Sign in{% endtrans %}</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">{% trans %}Sign up{% endtrans %}</a></li>
                {% else %}
                <li><a href="{{ path('fos_user_security_logout') }}">{% trans %}Logout{% endtrans %}</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>