{% trans_default_domain "symbb_frontend" %}

{% extends getSymbbTemplateConfig('forum') ~ ':Forum:layout.html.twig' %}



{% block symbb_breadcrumb %}
    {{ getSymbbBreadcrumb(forum) }}
{% endblock %}

{% block symbb_body %}

    <div class="symbb_list">
        <div class="btn-group btn-xl">
            
            {% if hasSymbbAccess('write', forum) %}
            <button type="button" class="btn btn-default" onclick="window.location.href='{{ path('_symbb_forum_topic_new', {'forum': forum.getId()}) }}'">{% trans %}new Topic{% endtrans %}</button>
            <button type="button" class="btn btn-default" onclick="window.location.href='{{ path('_symbb_forum_read', {'forum': forum.getId()}) }}'">{% trans %}Mark as read{% endtrans %}</button>
            {% endif %}
            {% if checkSymbbForIgnoreFlag(forum) %}
                <button title="{{ 'You ignore the forum'|trans }}" type="button" class="btn btn-default" onclick="window.location.href='{{ path('_symbb_forum_watch', {'forum': forum.getId()}) }}'">
                    <span class="glyphicon glyphicon-eye-close" ></span> {{ 'You ignore the forum'|trans }}
                </button>
            {% else %}
                <button title="{{ 'You watch the forum'|trans }}" type="button" class="btn btn-default" onclick="window.location.href='{{ path('_symbb_forum_ignore', {'forum': forum.getId()}) }}'">
                    <span class="glyphicon glyphicon glyphicon-eye-open" ></span> {{ 'You watch the forum'|trans }}
                </button>
            {% endif %}
        </div>
        {{ symbBBForumMacro.showForumList(forum.getChildren(), 1) }}
        {% if forum.getType() == 'forum' %}
            {% set topicPagination = getTopicPagination(forum) %}
            {{ symbBBForumMacro.showTopicList(topicPagination, forum) }}
        {% endif %}
    </div>
{% endblock %}

