{% macro showPostList(object) %}

    {% for post in object.getPosts() %}
        <div class="row header symbb_header_bg">
            <div class="col-md-12">{{post.getName()}}</div>
        </div>
        <div class="row body">
            <div class="col-md-3 userblock">
                <div class="avatar">
                    <img src="{{getSymbbUserAvatar(post.getAuthor())}}" />
                </div>
                {{post.getAuthor().getUsername()}}
            </div>
            <div class="col-md-9 textblock">
                {{post.getText()}}
                {% if getSymbbUserData(post.getAuthor()).hasSignature() %}
                    <div class="row signature">
                        <div class="col-md-12">{{getSymbbUserSignature(post.getAuthor())}}</div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

{% endmacro %}