{% block bbeditor_widget %}
    {% spaceless %}
    {% set bbcodeset = 'default' %}
    {% if form.vars.attr.bbcodeset is defined %}
    {% set bbcodeset = form.vars.attr.bbcodeset %}
    {% endif %}
        <div class="symbb_bbcodes symbb_header_bg">
            {% for key, groups in getSymbbBBCodes(bbcodeset) %}
            <div class="symbb_bbcodes_group">
                {% for bbcode in groups %}
                    <div class="symbb_bbbcode_btn" data-tag-code="{{ bbcode.code }}" class="btn btn-default btn-sm symbb_bbcode_code" title="{{ bbcode.tag }}"><img alt="{{ bbcode.tag }}" title="{{ bbcode.tag }}" src="{{ bbcode.image }}" /></div>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="clear"></div>
        </div>
        <div class="symbb_editor">
        {{ block('textarea_widget') }}
        </div>
    {% endspaceless %}
{% endblock %}